html
  head
    title Sync Timer
    include partials/head.pug
    link(rel="stylesheet", type="text/css", href="/css/adminLogin.css")
    
  body
    h1 Sync Timer Admin
        
    form.login(action="/admin" method="post")
      input.menu-field(type="text" name="username" placeholder="Username")
      input.menu-field(type="password" name="password" placeholder="Password")
      button(type="submit") Submit

  script(type="text/javascript", src="js/adminLogin.js")