html
  head
    title Sync Timer
    include partials/head.pug
    link(rel="stylesheet", type="text/css", href="/css/index.css")
    
  body
    div.index-container
      h1 Sync Timer
        
      div.index-form
        div.join-form
          input#timer-id-field.menu-field(type="text" placeholder="Timer ID")
          button#join-timer.menu-button.active(onclick="gotoTimer();") Join Timer
        p.or OR
        button#new-timer.menu-button.active(onclick="window.location.href='timer/new';") Create Timer

  script(type="text/javascript", src="js/index.js")