html
  head
    title Sync Timer
    link(rel='stylesheet', type='text/css', href='/css/index.css')
  body
    h1 Sync Timer
    div
      a#new-timer.menu-button(href='timer/new') Create New Timer

    div
      input#timer-id-field.menu-field(type='text')
      a#join-timer.menu-button(href='#', onclick="gotoTimer();") Join Timer

  script(type='text/javascript', src='js/index.js')