html
  head
    title Sync Timer
    include partials/head.pug
    link(rel="stylesheet", type="text/css", href="/css/index.css")
    
  body
    h1 Sync Timer
    div
      button#new-timer.menu-button(onclick="window.location.href='timer/new';") Create New Timer

    div
      button#join-timer.menu-button(onclick="gotoTimer();") Join Timer
      input#timer-id-field.menu-field(type="text")

  script(type="text/javascript", src="js/index.js")