html
  head
    title Sync Timer
    include partials/head.pug
    link(rel="stylesheet", type="text/css", href="/css/index.css")
    
  body(onload="initialize()")
    div.index-container
      h1 Sync Timer
        
      div.index-form
        form.join-form(action="/timer/" method="post")
          input#timer-id-field.menu-field(type="text" name="timerId" placeholder="Enter Timer ID")
          button#join-timer.menu-button(type="submit") Join Timer
        p.or OR
        form(action="/timer/new" method="get")
          button#new-timer.menu-button() Create Timer

  script(type="text/javascript", src="js/index.js")