html
  head
    title Sync Timer
    link(rel='stylesheet', type='text/css', href='https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.0/normalize.min.css')
    link(rel='stylesheet', type='text/css', href='/css/timer.css')
  
  body(onload='getDisplayElements()')
    div#timer-ui
      h1 Timer #[span#timerId=myTimerId]
      div#timer-display #[span#hours-display 00]:#[span#minutes-display 00]:#[span#seconds-display 00]
      
      div#buttons
        button#start-button.control-button(onclick='startTimer()') Start
        button#stop-button.control-button(onclick='stopTimer()') Stop
    
  script(type='text/javascript', src='/socket.io/socket.io.js')
  script.
    myTimerId="#{timerId}"
  script(type='text/javascript', src='/js/timerController.js')
  script(type='text/javascript', src='/js/socket.js')