html
  head
    title Sync Timer
    include partials/head.pug
    link(rel="stylesheet", type="text/css", href="/css/timer.css")
  
  body(onload="getDisplayElements()")
    div#timer-ui
      div#info-container
        div#info 
          span #[i.fas.fa-clock]&nbsp;#[span#timerId=myTimerId]
          i#running-state.fas.fa-spinner

      div#timer-display 
        div#hours-tens.digit
          div.front 0
          div.back 8
        div#hours-ones.digit 
          div.front 0
          div.back 8
        div.separator :
        div#minutes-tens.digit 
          div.front 0
          div.back 8
        div#minutes-ones.digit 
          div.front 0
          div.back 8
        div.separator :
        div#seconds-tens.digit
          div.front 0
          div.back 8
        div#seconds-ones.digit
          div.front 0
          div.back 8

      div#buttons
        button#start-button.control-button(onclick="startTimer()")
          i.fas.fa-play
        button#stop-button.control-button(onclick="stopTimer()")
          i.fas.fa-stop
    
  script(type="text/javascript", src="/socket.io/socket.io.js")
  script.
    myTimerId="#{timerId}"
  script(type="text/javascript", src="/js/timerController.js")
  script(type="text/javascript", src="/js/socket.js")