html
  head
    title Sync Timer
    include partials/head.pug
    link(rel="stylesheet", type="text/css", href="/css/timer.css")
  
  body(onload="getDisplayElements()")
    div#timer-ui
      h1 Timer #[span#timerId=myTimerId]
      div#timer-display 
        div#hours-tens.digit
          span.front 0
          span.back 8
        div#hours-ones.digit 
          span.front 0
          span.back 8
        span.separator :
        div#minutes-tens.digit 
          span.front 0
          span.back 8
        div#minutes-ones.digit 
          span.front 0
          span.back 8
        span.separator :
        div#seconds-tens.digit
          span.front 0
          span.back 8
        div#seconds-ones.digit
          span.front 0
          span.back 8

      div#buttons
        button#start-button.control-button(onclick="startTimer()") Start
        button#stop-button.control-button(onclick="stopTimer()") Stop
    
  script(type="text/javascript", src="/socket.io/socket.io.js")
  script.
    myTimerId="#{timerId}"
  script(type="text/javascript", src="/js/timerController.js")
  script(type="text/javascript", src="/js/socket.js")