#timer-ui {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

#timer-display {
  font-size: 8rem;
}

.control-button {
  font-size: 4em;
}