body {
  background-color: rgba(0, 0, 0, 0.75);
  background-blend-mode: multiply;
  background-image: url("../img/background2.jpg");
  background-size: cover;
  background-position: left bottom;
  color: white;
  font-family: "Cinzel Decorative", "cursive"; }

button {
  color: white;
  background-color: gray;
  padding: 1vh;
  border-radius: 2vh;
  font-size: 6.5vh;
  margin: 0.5vh 0; }
  button:focus {
    outline: none; }

h1 {
  margin: 2vh; }

#timer-ui {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 100%; }

/* Display */
#timer-display {
  display: flex;
  justify-content: center;
  width: 100%;
  font-size: 20vw;
  font-weight: 400; }

/* Digits */
@keyframes enter {
  from {
    color: rgba(255, 255, 255, 0); }
  to {
    color: white; } }

@keyframes exit {
  from {
    color: white; }
  to {
    color: rgba(255, 255, 255, 0); } }

.digit {
  width: 13vw; }
  .digit .front {
    position: absolute;
    text-align: center;
    vertical-align: middle;
    color: white; }
  .digit .back {
    position: absolute;
    text-align: center;
    vertical-align: middle;
    color: rgba(255, 255, 255, 0); }
  .digit .animate-in {
    animation-name: enter;
    animation-duration: 0.25s; }
  .digit .animate-out {
    animation-name: exit;
    animation-duration: 0.25s; }

.separator {
  text-align: center;
  vertical-align: middle;
  width: 8vw; }

/* Buttons */
#buttons {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  margin: 2vh; }

.control-button {
  color: white;
  background-color: gray;
  padding: 1vh; }
