body {
  background-image: url("../img/background2.jpg");
  background-size: cover;
  background-position: left bottom;
  color: white;
  font-family: "Cinzel", "serif"; }

button {
  color: white;
  background-color: rgba(255, 255, 255, 0.15);
  margin: 0.5vh 0;
  padding: 2vh;
  border-radius: 4vh;
  border: 0;
  font-size: 10vh;
  min-width: 10vh;
  min-height: 10vh;
  -webkit-transition: background-color 0.5s;
  transition: background-color 0.5s; }
  @media all and (max-aspect-ratio: 1 / 1) {
    button {
      padding: 2vw;
      font-size: 10vw;
      border-radius: 4vw;
      min-width: 10vw;
      min-height: 10vw; } }
  button:hover {
    background-color: rgba(255, 255, 255, 0.25);
    -webkit-transition: background-color 0.5s;
    transition: background-color 0.5s; }
  button:focus {
    outline: none; }

body {
  background-image: url("../img/background2.jpg");
  background-size: cover;
  background-position: left bottom;
  color: white;
  font-family: "Cinzel", "serif"; }

button {
  color: white;
  background-color: rgba(255, 255, 255, 0.15);
  margin: 0.5vh 0;
  padding: 2vh;
  border-radius: 4vh;
  border: 0;
  font-size: 10vh;
  min-width: 10vh;
  min-height: 10vh;
  -webkit-transition: background-color 0.5s;
  transition: background-color 0.5s; }
  @media all and (max-aspect-ratio: 1 / 1) {
    button {
      padding: 2vw;
      font-size: 10vw;
      border-radius: 4vw;
      min-width: 10vw;
      min-height: 10vw; } }
  button:hover {
    background-color: rgba(255, 255, 255, 0.25);
    -webkit-transition: background-color 0.5s;
    transition: background-color 0.5s; }
  button:focus {
    outline: none; }

.info-container {
  width: 100%; }

.info {
  margin: 2vh 2vh;
  font-size: 3vw;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-between;
  justify-content: space-between; }
  @media all and (max-aspect-ratio: 1 / 1) {
    .info {
      margin: 2vw 2vw;
      font-size: 3vh; } }

.id-tip {
  display: absolute;
  left: 20vw;
  width: 15vw;
  font-size: 1.5vw; }
  @media all and (max-aspect-ratio: 1 / 1) {
    .id-tip {
      left: 20vh;
      width: 15vh;
      font-size: 1.5vh; } }

body {
  background-image: url("../img/background2.jpg");
  background-size: cover;
  background-position: left bottom;
  color: white;
  font-family: "Cinzel", "serif"; }

button {
  color: white;
  background-color: rgba(255, 255, 255, 0.15);
  margin: 0.5vh 0;
  padding: 2vh;
  border-radius: 4vh;
  border: 0;
  font-size: 10vh;
  min-width: 10vh;
  min-height: 10vh;
  -webkit-transition: background-color 0.5s;
  transition: background-color 0.5s; }
  @media all and (max-aspect-ratio: 1 / 1) {
    button {
      padding: 2vw;
      font-size: 10vw;
      border-radius: 4vw;
      min-width: 10vw;
      min-height: 10vw; } }
  button:hover {
    background-color: rgba(255, 255, 255, 0.25);
    -webkit-transition: background-color 0.5s;
    transition: background-color 0.5s; }
  button:focus {
    outline: none; }

@keyframes enter {
  from {
    color: rgba(255, 255, 255, 0);
    transform: translateY(-5vw); }
  to {
    color: white;
    transform: translateY(0); } }

@keyframes exit {
  from {
    color: white;
    transform: translateY(0); }
  to {
    color: rgba(255, 255, 255, 0);
    transform: translateY(5vw); } }

#timer-display {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: center;
  justify-content: center;
  width: 100%;
  font-size: 20vw;
  font-weight: 400;
  font-family: "Cinzel Decorative", "cursive"; }

.digit {
  width: 13vw; }
  .digit .front {
    position: absolute;
    text-align: center;
    vertical-align: middle;
    color: white;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none; }
  .digit .back {
    position: absolute;
    text-align: center;
    vertical-align: middle;
    color: rgba(255, 255, 255, 0);
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none; }
  .digit .animate-in {
    animation-name: enter;
    animation-duration: 0.25s;
    animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275); }
  .digit .animate-out {
    animation-name: exit;
    animation-duration: 0.25s;
    animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275); }

.separator {
  text-align: center;
  vertical-align: middle;
  width: 8vw;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

body {
  background-image: url("../img/background2.jpg");
  background-size: cover;
  background-position: left bottom;
  color: white;
  font-family: "Cinzel", "serif"; }

button {
  color: white;
  background-color: rgba(255, 255, 255, 0.15);
  margin: 0.5vh 0;
  padding: 2vh;
  border-radius: 4vh;
  border: 0;
  font-size: 10vh;
  min-width: 10vh;
  min-height: 10vh;
  -webkit-transition: background-color 0.5s;
  transition: background-color 0.5s; }
  @media all and (max-aspect-ratio: 1 / 1) {
    button {
      padding: 2vw;
      font-size: 10vw;
      border-radius: 4vw;
      min-width: 10vw;
      min-height: 10vw; } }
  button:hover {
    background-color: rgba(255, 255, 255, 0.25);
    -webkit-transition: background-color 0.5s;
    transition: background-color 0.5s; }
  button:focus {
    outline: none; }

.buttons {
  width: 100%;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-around;
  justify-content: space-around;
  margin: 2vh; }

.control-button {
  font-size: 7vh;
  padding: 3vh;
  width: 30vw;
  height: 30vw;
  max-width: 14vh;
  max-height: 14vh; }

.timer-ui {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  flex-direction: column;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  align-items: center;
  height: 100%; }
