=text-stroke($weight, $colour)
  -webkit-text-stroke: $weight $colour
  text-stroke: $weight $colour
  
body 
  background-color: rgba(0,0,0,0.75)
  background-blend-mode: multiply
  background-image: url("../img/background2.jpg")
  background-size: cover
  background-position: left bottom
  color: white
  font-family: "Cinzel Decorative", "cursive"

button
  color: white
  background-color: gray
  padding: 1vh
  border-radius: 2vh
  font-size: 6.5vh
  margin: 0.5vh 0

  &:focus
    outline: none  
