body 
  background-color: rgba(0,0,0,0.75)
  background-blend-mode: multiply
  background-image: url("../img/background.jpg")
  background-size: cover
  background-position: right bottom

h1
  margin: 2vh

#timer-ui 
  color: white
  font-family: 'Baloo', 'cursive'
  display: flex
  flex-direction: column
  justify-content: space-between
  align-items: center
  height: 100%


/* Display */

#timer-display 
  display: flex
  justify-content: center
  width: 100%
  font-size: 200px

.digit 
  text-align: center
  vertical-align: middle
  width: 10%

.separator 
  text-align: center
  vertical-align: middle
  width: 10%


/* Buttons */

#buttons 
  width: 100%
  display: flex
  justify-content: space-evenly
  margin: 2vh

.control-button 
  font-size: 8vh
