@import partials/common
@import partials/timer/info
@import partials/timer/display
@import partials/timer/controls

#timer-ui 
  display: flex
  flex-direction: column
  justify-content: space-between
  align-items: center
  height: 100%