@import ../common

.buttons 
  width: 100%
  +flexbox
  +justify-content(space-around)
  margin: 2vh

.control-button
  font-size: 7vh
  padding: 3vh
  width: 30vw
  height: 30vw
  max-width: 14vh
  max-height: 14vh